$color-main-orange: #ff983c;
$blue: #1ba0d9;
$mini_section_w: (550/2);
$mini_section_w_d: 50;
* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    html,
    body {
        width: 100%;
        height: 100%;
    }
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .name_section {
        span {
            color: $blue;
            &.error {
                color: red;
            }
        }
    }
}
.fa {
    width: 25px;
    text-align: center;
}
#wrapper {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    max-width: 1100px;
    min-width: 300px;
    margin: auto;
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav {
    background: $color-main-orange;
    padding: 5px;
    ul {
        color: white;
        align-items: center;
        font-size: 1.3rem;
        span {
            margin-left: 5px;
            font-size: 1.2rem;
            text-decoration: underline;
        }
    }
    #double_text {
        a {
            display: flex;
            padding: 2px 0;
            span {
                font-size: 0.9rem;
            }
        }
    }
}
#modal_cities {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #8e8e8ea1;
    .wrapper {
        background-color: white;
        position: relative;
        top: 50%;
        width: 660px;
        padding: 10px;
        transform: translate(0, -50%);
        box-shadow: 5px 5px 10px gray;
        border-radius: 5px;
        ul {
            width: 80%;
            margin: auto;
            li {
                width: 33%;
                text-align: center;
                padding: 10px;
            }
            .active_curren_city {
                color: $blue;
                text-decoration: underline;
            }
        }
        button {
            border-radius: 5px;
            margin-top: 5px;
            width: 100%;
            border: none;
            padding: 10px;
            background-color: #d91b44;
            color: white;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #991531;
            }
        }
    }
}
#modal_mobile_menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #8e8e8ea1;
    z-index: 1;
    .wrapper {
        background-color: white;
        position: relative;
        top: 50%;
        width: 660px;
        padding: 10px;
        transform: translate(0, -50%);
        box-shadow: 5px 5px 10px gray;
        border-radius: 5px;
        ul {
            justify-content: center;
            li {
                width: 100% !important;
                text-align: center;
                font-family: "Russia";
                font-size: 1.2rem;
            }
            padding: 10px;
        }
        #logo {
            padding-bottom: 20px;
        }
        #name_company {
            font-size: 1.4rem;
            font-family: "roboto";
            font-weight: 700;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: linear-gradient(211deg, #2a3d8f, #16bde3, #16e36f);
            background-size: 600% 600%;
            -webkit-animation: AnimationName 12s ease infinite;
            -moz-animation: AnimationName 12s ease infinite;
            animation: gradient 12s ease infinite;
        }
        img {
            height: 100px;
        }
        #contact_us {
            width: 100%;
            text-align: center;
            padding-top: 15px;
            span {
                margin: auto;
                text-decoration: underline;
            }
            a {
                display: flex;
                margin: auto;
                span {
                    margin-top: 5px;
                    padding: 10px;
                    background: $color-main-orange;
                    color: white;
                    border-radius: 10px;
                    text-decoration: none;
                }
            }
        }
    }
}
#mobile_button {
    display: none;
    position: fixed;
    top: 95%;
    left: 50%;
    z-index: 2;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    button {
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 50%;
        font-size: 1.2rem;
        background-color: #11c857;
        transition: all 0.3s ease;
        color: white;
    }
    button.active {
        background-color: #ff194b;
        height: 50px;
        width: 50px;
        font-size: 2.2rem;
        transform: rotate(135deg);
        border-radius: 15px;
    }
    &.active {
        top: 93%;
    }
}
header {
    padding: 10px 30px;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Russia-bold";
        font-size: 1.2rem;
        img {
            width: 80px;
        }
        #name_company {
            width: 50%;
            a {
                font-size: 1.4rem;
                font-family: "Russia-bold";
                padding: 0;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(211deg, #2a3d8f, #16bde3, #16e36f);
                background-size: 600% 600%;
                -webkit-animation: AnimationName 12s ease infinite;
                -moz-animation: AnimationName 12s ease infinite;
                animation: gradient 12s ease infinite;
            }
        }
        &.btn a {
            padding: 10px;
            border-radius: 8px;
            font-family: "Roboto";
            font-weight: 500;
            color: white;
            background-color: $color-main-orange;
            transition: background-color 0.3s ease;
            &.router-link-active {
                background-color: #13d02f;
            }
        }
    }
    #logo {
        width: 220px;
        justify-content: start;
    }
}
.start{
    .name_section{
        text-align: center;
    }
}
ol{
    padding:0 20px;
    overflow-x: visible;
    li{
        overflow-x: visible;
        padding-bottom: 10px;
    }
    a{
        color: blue;
        text-decoration: underline;
    }
}
main {
    section {
        .wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;

        }
        .left,
        .right {
            width: 550px;
            display: flex;
            justify-self: start;
            flex-wrap: wrap;
            .main_right_image {
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
            & > .main_left_text {
                width: 550px;
                display: flex;
                justify-self: start;
                flex-wrap: wrap;
            }
        }
        &#about_us,
        &#sale {
            background: url("/img/bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &#sale {
            #timer {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 0;
                flex-wrap: wrap;
                font-family: "Russia-bold";
                .time {
                    display: flex;
                    justify-content: flex-start;
                    width: 50%;
                    margin: auto;
                    #d,
                    #h,
                    #m,
                    #s {
                        font-family: "Russia-bold";
                        font-size: 1.3rem;
                        margin-right: 5px;
                    }
                    #d {
                        margin-right: 10px;
                    }
                }
                .name_timer {
                    width: 50%;
                    text-transform: uppercase;
                    // text-align: center;
                    font-size: 1.4rem;

                    font-family: "Russia-bold";
                    color: $blue;
                }
            }
            .sale_text {
                padding: 10px 0;
                width: 100%;
                font-family: "Roboto";
                font-weight: 600;
                font-size: 1.1rem;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                &.info {
                    padding-bottom: 0;
                    color: #2f2f2f;
                    font-weight: normal;
                }
                &.ps {
                    font-weight: 400;
                    color: #888;
                    font-size: 0.9rem;
                }
            }
        }
        &#callback {
            .wrapper {
                display: block;
            }
        }
        &.main_section {
            .name_section {
                margin-top: 50px;
                text-transform: uppercase;
                font-size: 2.9rem;
                font-family: sans-serif;
                font-weight: 600;
                padding: 0;
                width: 100%;
                padding: 20px 0;
            }
        }
        .center {
            .name_section {
                text-align: center;
            }
        }
        .name_section {
            padding: 10px;
            font-family: "Russia-bold";
            font-size: 2rem;
            &::first-letter {
                text-decoration: underline;
            }
        }
    }
    .btn {
        padding: 20px 0;
        font-size: 1.2rem;
        a {
            background-color: #ff983c;
            color: white;
            padding: 10px;
            font-family: "Russia-bold";
            display: block;
            border-radius: 10px;
        }
    }
    .mini_section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .main_section_about {
        display: grid;
        grid-template-areas: "a a a";
        row-gap: 30px;
        .mini_info {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-top: 0;
            }
        }
    }
    .mini_info {
        width: $mini_section_w + px;
        &:first-child,
        &:last-child {
            margin-top: 20px;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .image_info {
            box-sizing: content-box;
            font-size: 30px;
            width: $mini_section_w_d + px;
            margin-right: 10px;
            color: $blue;
            text-align: center;
            i {
                width: $mini_section_w_d + px;
            }
        }
        .text_info {
            width: $mini_section_w - $mini_section_w_d - 10 + px;
            font-size: 1.1rem;
            font-family: "Russia";
            &.mini {
                color: gray;
                margin-left: $mini_section_w_d + 10 + px;
                margin-top: 5px;
                font-size: 0.9rem;
                font-family: "roboto";
                font-weight: 300;
            }
        }
    }
    #why_me {
        padding-bottom: 70px;
    }
    #photo {
        .wrapper {
            background-color: rgba(255, 255, 255, 0.9);
        }
        .sort {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .btn {
                padding: 0;
                width: unset !important;
                a {
                    font-weight: normal;
                    padding: 10px 10px;
                    background: linear-gradient(270deg, $blue, rgb(132, 26, 219));
                    background-size: 600% 200%;
                    background-repeat: no-repeat;
                    background-position: -550px 0;
                    transition: all 0.4s ease;
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    box-shadow: 0 0 0 transparent;
                    // color: $blue;
                    &:hover {
                        background-position: 0;
                        padding: 2px 10px;
                        border-radius: 0;
                        border-bottom: 1px solid $blue;
                        border-top: 1px solid $blue;
                    }
                    &:active {
                        color: darken($color: $blue, $amount: 10);
                        border-radius: 10px;
                        border-left: 1px solid $blue;
                        border-right: 1px solid $blue;
                        padding: 5px 10px;
                        box-shadow: 5px 5px 5px silver;
                    }
                }
            }
            .sort_input {
                // width: 50%;
                margin-bottom: 20px;
                margin-right: 20px;
                label {
                    padding: 2px 0;
                    color: gray;
                    width: 100%;
                    display: block;
                    font-size: 0.8rem;
                }
                input {
                    background-color: transparent;
                    border-radius: 0;
                    border: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    font-family: inherit;
                    width: 200px;

                    font-size: 1.1rem;
                    border-bottom: 1px solid $blue;
                }
                select {
                    width: 200px;
                    border: 0;

                    border-bottom: 1px solid $blue;
                    font-size: 1.1rem;
                    text-align: center;
                }
            }
        }
        .center {
            margin-bottom: 50px;
            .our_service {
                width: 100%;
                .response_message {
                    font-size: 1.3rem;
                    text-align: center;
                    font-family: "Roboto";
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .fa {
                        width: 100%;
                    }
                }
                .block_image {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
                img {
                    height: 300px;
                    box-shadow: 5px 5px 10px silver;
                    transition: all 0.3s ease;
                    cursor: pointer;
                }
            }
        }
    }
    #services {
        .grid {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .stack {
                width: 100%;
                display: flex;
                &.first {
                    .service_block {
                        &:first-child {
                            width: 75%;
                        }
                    }
                }
                &.three {
                    .service_block {
                        .name_service {
                            width: 120px;
                            transition: all 0.5s ease;
                            transition-delay: 0.5s;
                            margin: 0%;
                        }
                        img {
                            margin: 10px 0 0 50%;
                            transform: translate(-50%, 0);
                        }
                    }
                }
            }
            .service_block {
                padding: 10px;
                width: 100%;
                transition: all 0.5s ease;
                transition-delay: 0.5s;
                min-width: 200px;
                .card {
                    background: linear-gradient(90deg, #d0fff3, #aef4ff, #fff6d2, #ead6fb);
                    background-size: 800% 800%;
                    -webkit-animation: card_animatiom 30s ease infinite;
                    -moz-animation: card_animatiom 30s ease infinite;
                    animation: card_animatiom 30s ease infinite;
                    filter: grayscale(0.5);
                    cursor: pointer;
                    box-shadow: -0 0 0 silver;
                    transition: all 0.5s ease;
                    border-radius: 5px;
                    padding: 10px;
                    .btn {
                        opacity: 0.4;
                        transition: all 0.5s ease;
                        text-align: center;
                    }
                    .name_service {
                        font-family: "Russia-bold";
                        font-size: 1.4rem;
                        padding: 10px 0;
                    }
                    .name_service.margin_transition {
                        margin: 0 50%;
                        width: 120px;
                        transform: translate(-50%, 0);
                    }
                    .service_image img {
                        width: 300px;
                        box-shadow: 20px 20px 10px rgb(207, 207, 207);
                        border-radius: 5px;
                        margin-top: 20px;
                        transition: all 0.5s ease;
                        transition-delay: 0.5s;
                    }
                }
                &:hover {
                    width: 150% !important;
                    &:last-child {
                        .card {
                            box-shadow: -10px 10px 5px silver;
                        }
                    }
                    &:first-child {
                        .card {
                            box-shadow: 10px 10px 5px silver;
                            padding: 10px 15px 10px 15px;
                            .service_image {
                                width: 100%;
                            }
                        }
                    }
                    .card {
                        filter: grayscale(0);
                        border-radius: 10px;
                        background-color: rgb(253, 253, 253);
                        padding: 10px 15px 10px 30px;
                        .btn {
                            opacity: 1;
                        }
                        .service_image {
                            width: 100%;
                            img {
                                width: 350px;
                                margin: 10px 0 0 50%;
                                box-shadow: 3px 3px 5px silver;
                                border-radius: 10px;
                                transform: translate(-50%, 0);
                            }
                        }
                    }
                }
            }
        }
        .service_price {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            background-color: #f9f9f9;
        }
        .block_for_button {
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            // max-width: 400px;
        }
        .left,
        .right {
            display: block;
        }
        .small_service_name {
            text-align: center;
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-size: 1.3rem;
            font-weight: 300;
            text-decoration: underline;
            padding: 10px;
        }
        .price_block {
            align-items: center;
            width: 96%;
            padding: 20px 1%;
            margin: 0 1%;
            display: flex;
            justify-content: space-between;
            font-family: sans-serif;
            font-weight: 600;
            border-bottom: 1px solid silver;
        }
    }
    #feedback {
        background-color: $blue;
        .center {
            justify-content: space-evenly;
            .fb {
                background: #f7f7f7;
                overflow-x: visible;
                width: 300px;
                margin: 40px auto 100px;
                border: 1px solid silver;
                font-family: sans-serif;
                padding: 0px 15px 10px 15px;
                border-radius: 5px;
                cursor: default;
                filter: drop-shadow(5px 5px 0 gray);
                .name_user, .date, .message{
                    width: 100%;
                    text-align: center;
                }
                .name_user{
                    font-family: 'Russia-bold';
                }
                .date{
                    margin-bottom: 10px;
                    font-family: 'Roboto';
                    color: gray;
                    font-size: .8rem;
                }
                .message{
                    font-family: 'roboto';
                    font-size: .9rem;
                }
                .avatar {
                    height: 50px;
                    width: 100%;
                    overflow-x: visible;
                    position: relative;
                    img {
                        border-radius: 50%;
                        position: relative;
                        top: -35px;
                        display: block;
                        margin: auto;
                        height: 70px;
                    }
                }
            }
        }
        .name_section {
            color: white;
            font-size: 2rem;
            &:first-letter {
                text-decoration: none;
            }
            span {
                color: white;
                text-decoration: underline;
            }
        }
    }
}
.clear{
    background: rgb(195,205,255);
    background: linear-gradient(138deg, rgba(195,205,255,1) 0%, rgba(255,255,255,1) 49%, rgba(182,243,255,1) 100%);
    a{
        color: $blue
    }
    #clear_sale{
        background: url("/img/sales_bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .text_sales{
            font-size: 3rem;
            text-align: center;
        }
    }
    .wrapper{
        padding: 20px 0;
        .clear_top{
            display: flex;
            justify-content: space-between;
        }
        .clear_image{
            width: 35%;
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .clear_text{
            width: 60%;
            .clear_name{
                font-family: 'Russia-bold';
                font-size: 1.5rem;
            }
            p{
                padding-top: 25px;
                font-weight: 300;
                font-family: 'Roboto';
                color: rgb(65, 65, 65);
                font-size: 1.1rem;
            }
        }
        .clear_work_list{
            padding-top: 25px;
            width: 100%;
            .name_list{
                text-align: center;
                font-family: 'Russia-bold';
                font-size: 1.5rem; 
                padding-top: 15px;    
            }
            p{
                padding-top: 25px;
                font-weight: 600;
                font-family: "Roboto";
                font-size: 1.1rem;
                a{
                    text-decoration: underline;
                }
            }
            ul{
                padding: 25px 10px 0 10px;
                display: inline-block;
                overflow-x: visible;
                list-style: inside;
                li{
                    overflow-x: visible;
                    color: rgb(65, 65, 65);
                    font-family: "Roboto";
                    padding-top: 10px;
                    font-weight: 400;
                    
                }
            }
        }

    }
}
footer {
    background-color: #2f303e;
    color: white;
    padding: 10px;
    ul {
        align-items: center;
    }
    #double_text {
        a {
            display: flex;
            padding: 2px 0;
            span {
                font-size: 0.9rem;
            }
        }
    }
}
.text_response {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(333deg, #00adee, #f09494, #276fd4, #41c9df);
    background-size: 800% 800%;
    font-weight: bold;
    font-family: "Russia-bold";
    font-size: 2rem;
    -webkit-animation: load 3s ease infinite;
    -moz-animation: load 3s ease infinite;
    -o-animation: load 3s ease infinite;
    animation: load 3s ease infinite;
}

@-webkit-keyframes load {
    0% {
        background-position: 54% 0%;
    }
    50% {
        background-position: 47% 100%;
    }
    100% {
        background-position: 54% 0%;
    }
}
@-moz-keyframes load {
    0% {
        background-position: 54% 0%;
    }
    50% {
        background-position: 47% 100%;
    }
    100% {
        background-position: 54% 0%;
    }
}
@-o-keyframes load {
    0% {
        background-position: 54% 0%;
    }
    50% {
        background-position: 47% 100%;
    }
    100% {
        background-position: 54% 0%;
    }
}
@keyframes load {
    0% {
        background-position: 54% 0%;
    }
    50% {
        background-position: 47% 100%;
    }
    100% {
        background-position: 54% 0%;
    }
}
@-webkit-keyframes gradient {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}
@-moz-keyframes gradient {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}

@-webkit-keyframes card_animatiom {
    0% {
        background-position: 11% 0%;
    }
    50% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 11% 0%;
    }
}
@-moz-keyframes card_animatiom {
    0% {
        background-position: 11% 0%;
    }
    50% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 11% 0%;
    }
}
@keyframes card_animatiom {
    0% {
        background-position: 11% 0%;
    }
    50% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 11% 0%;
    }
}

@media screen and (max-width: 1110px) {
    .clear{
        padding: 30px;
    }
    nav {
        padding: 5px 40px;
    }
    main {
        section {
            .name_section,
            h1 {
                text-align: center;
            }
            .btn {
                width: 100%;
                text-align: center;
                a {
                    padding: 20px 10px;
                }
            }
            .block_for_button {
                .btn {
                    width: 300px;
                }
            }
        }
        .main_section_about {
            grid-template-areas: "a a";
        }
    }
}

@media screen and (max-width: 660px) {
    * {
        ul {
            justify-content: space-around;
            li {
                padding: 5px 30px;
            }
        }
    }
    nav {
        padding: 0;
        text-align: center;
        #double_text {
            a {
                display: block;
            }
        }
    }
    .sort_input {
        text-align: center;
    }
    header {
        display: none;
    }
    #mobile_button {
        display: block;
    }
    #modal_cities,
    #modal_mobile_menu {
        .wrapper {
            width: 300px;
            ul {
                li {
                    width: 50%;
                }
            }
        }
    }
    main {
        section {
            .stack {
                flex-wrap: wrap;
                .service_block {
                    width: 100% !important;
                    img {
                        width: 100% !important;
                    }
                    .card,
                    img {
                        box-shadow: none !important;
                    }
                }
            }
            &#sale {
                #timer {
                    & > div {
                        width: 100% !important;
                        text-align: center;
                        &.time {
                            justify-content: center;
                        }
                    }
                }
            }
            &#about_us {
                .mini_section {
                    display: grid;
                    row-gap: 20px;
                    .mini_info {
                        &:last-child {
                            margin-top: 0;
                            margin-bottom: 20px;
                        }
                        width: 100%;
                        .text_info {
                            width: 75%;
                            text-align: center;
                        }
                    }
                }
            }
            .name_section {
                width: 100%;
                text-align: center;
                padding: 30px;
                margin-top: 0 !important;
            }
        }
        .h_text {
            text-align: center;
        }
        .btn {
            width: 100%;
            a {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .main_section {
            .left,
            .right {
                min-width: 300px;
                width: 75%;
                .name_section {
                    font-size: 7vw;
                }
            }
        }
        .mini_info {
            width: 50%;
            padding: 0px 10px;
        }
        .main_section_about {
            .mini_info {
                width: unset;
                text-align: center;
                .text_info {
                    width: 100% - $mini_section_w_d + $mini_section_w_d/2;
                }
            }
            grid-template-areas: "a";
        }
    }
    footer {
        padding: 0;
        ul {
            #double_text {
                a {
                    display: block;
                }
                text-align: center;
            }
        }
    }
    .clear{
        padding: 20px;
        .clear_top{
            flex-wrap: wrap;
            justify-content: center !important;
            .clear_image{
                width: 75%;
            }
            .clear_text{
                padding-top: 25px;
                text-align: center;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 440px) {
    nav {
        ul {
            justify-content: center;
            flex-direction: column !important;
        }
    }
    main {
        section {
            .name_section {
                font-size: 1.4rem !important;
                border-bottom: 1px solid $blue;
                margin-bottom: 10px;
            }
            h1 {
                font-size: 1.2rem;
            }
            .btn {
                a {
                    padding: 10px;
                }
            }
            &#sale {
                .left {
                    .main_left_text {
                        padding: 10px;
                    }
                }
                .right {
                    .main_right_image {
                        display: flex;
                        justify-content: center;
                        img {
                            width: 75%;
                        }
                    }
                }
            }
        }
        .mini_info {
            width: 100%;
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 20px;
            }
            .text_info {
                text-align: center;
            }
        }
    }
    .clear{
        padding: 0;
        .clear_top{
            flex-wrap: wrap;
            justify-content: center !important;
            .clear_image{
                width: 75%;
            }
            .clear_text{
                padding-top: 25px;
                text-align: center;
                width: 100%;
            }
        }
    }
}
