$ruler: 17px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;
$color-main-orange: #ff983c;
$color-main-blue: #1ba0d9;

#callback .center {
    background-color: $color-bg;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
}
#callback {
    img {
        width: 650px;
        min-width: 300px;
        border-radius: 10px 0 0 10px;
        box-shadow: 20px 0px 13px -10px $color-shadow;
    }
}

input,
select,
textarea,
button,
form a {
    font-family: "Russia", sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
}
form {
    padding: $ruler;
    width: $ruler * 22;
    margin: 0 auto;
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
    h4 {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .error {
        color: #fb5555 !important;
    }
    .success {
        color: green !important;
    }
}
form button,
form input,
form a {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler * 20;
    padding: $ruler;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
}
label {
    display: block;
    margin-bottom: $ruler * 1.5;
    width: 100%;
}
.just_text{
    margin-bottom: $ruler;
    text-align: center;
    text-decoration: underline;
    color:gray;
    font-size: .9rem;
}
.good_text{
    color: $color-main-blue;
}
form input {
    margin-right: $ruler/2;
    box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}
form button,
form a {
    text-align: center;
    color: #61677c;
    font-weight: bold;
    width: 100%;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: $ruler * 1.5;
    &:hover {
        box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }

    &:active {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }

    i {
        margin-right: $ruler/2;
    }
    &.form_button {
        display: block;
        width: 100%;
        &.orange {
            color: $color-main-orange;
        }
        &.blue {
            color: $color-main-blue;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
form.full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .left {
        width: 650px;
    }
    .right {
        padding: $ruler;
        margin: 0 auto;
        width: $ruler * 23;
    }
    .top_option {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .local {
            margin-bottom: 20px;
            width: 150px;
            label {
                color: black;
                text-align: center;
                margin-bottom: 5px;
            }
            select {
                border-radius: 15px 15px 15px 15px;
                width: 100%;
                padding: 10px 10px;
                font-size: 0.9rem;
                transition: border-radius 0.3s ease;
                &:focus {
                    border-radius: 15px 15px 0 0;
                }
            }
            input {
                margin: 0;
                border-radius: 15px 15px 15px 15px;
                padding: 10px 10px;
                box-shadow: none;
                background-color: white;
                border: 1px solid rgb(169, 169, 169);
            }
        }
    }
    .services {
        width: 100%;
        color: black;
        border-top: 1px solid rgb(169, 169, 169);
        border-bottom: 1px solid rgb(169, 169, 169);
        .name_block {
            width: 100%;
            text-align: center;
            font-family: "Roboto";
            font-size: 1.3rem;
        }
        input[type="checkbox"] {
            -webkit-appearance: checkbox;
            margin: 0;
            box-shadow: none;
            width: auto;
        }
        label {
            padding: 5px 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            border-radius: 10px;
            span {
                width: 50%;
                text-shadow: none;
            }
            &:nth-child(even) {
                background: $color-main-blue;
                color: white;
            }
            &:nth-child(odd) {
                background: $color-main-orange;
                color: white;
            }
        }
    }
}
.price {
    color: black;
}
span.error {
    text-align: center;
    width: 100%;
    padding: 10px;
    display: block;
    font-weight: bold;
}

#privacy{
    cursor: pointer;
    input{
        box-shadow: none;
        -webkit-appearance: checkbox;
        cursor: pointer;
        width: auto;
    }
    span{
        font-size: .8rem;
        font-family: "Roboto";
        font-weight: 400;
        color: gray;
    }
    .error{
        text-align: center !important;
        width: 100% !important;
        padding: 10px !important;
        display: block !important;
        font-weight: bold !important;
        font-size: 1rem;
    }
    a{
        box-shadow: none;
        color: $color-main-blue;
        padding: 0;
        text-decoration: underline;
        font-family: "Roboto";
        font-weight: 300;
        font-size: .8rem;
    }
}
@media screen and (max-width: 874px){
    #callback{
        height: auto !important;
    }
}
@media screen and (max-width: 1024px) {
    #callback {
        img {
            width: 100%;
            max-width: 500px;
            border-radius: 10px 10px 0 0;
        }
    }
    form.full {
        .left {
            width: 100%;
            max-width: 500px;
        }
    }
}
@media screen and (max-width: 874px) {
    form.full {
        .left {
            .services {
                label {
                    padding: 10px;
                    span {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 660px){
    form.full{
        .top_option{
            .local{
                width: 100%;
            }
        }
    }
}