$color-main-orange: #ff983c;
$blue: #1ba0d9;
$mini_section_w: (550/2);
$mini_section_w_d: 50;
* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    html,
    body {
        width: 100%;
        height: 100%;
    }
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}
.fa {
    width: 25px;
    text-align: center;
}
#wrapper {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    max-width: 1100px;
    min-width: 300px;
    margin: auto;
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav {
    background: $color-main-orange;
    padding: 5px;
    ul {
        color: white;
        align-items: center;
        font-size: 1.3rem;
        span {
            margin-left: 5px;
            font-size: 1.2rem;
            text-decoration: underline;
        }
    }
    #double_text {
        a {
            display: flex;
            padding: 2px 0;
            span {
                font-size: 0.9rem;
            }
        }
    }
}
#modal_cities {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #8e8e8ea1;
    .wrapper {
        background-color: white;
        position: relative;
        top: 50%;
        width: 660px;
        padding: 10px;
        transform: translate(0, -50%);
        box-shadow: 5px 5px 10px gray;
        border-radius: 5px;
        ul {
            width: 80%;
            margin: auto;
            li {
                width: 33%;
                text-align: center;
                padding: 10px;
            }
            .active_curren_city {
                color: $blue;
                text-decoration: underline;
            }
        }
        button {
            border-radius: 5px;
            margin-top: 5px;
            width: 100%;
            border: none;
            padding: 10px;
            background-color: #d91b44;
            color: white;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #991531;
            }
        }
    }
}
#modal_mobile_menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #8e8e8ea1;
    z-index: 1;
    .wrapper {
        background-color: white;
        position: relative;
        top: 50%;
        width: 660px;
        padding: 10px;
        transform: translate(0, -50%);
        box-shadow: 5px 5px 10px gray;
        border-radius: 5px;
        ul {
            justify-content: center;
            li {
                width: 100% !important;
                text-align: center;
                font-family: "Russia";
                font-size: 1.2rem;
            }
            padding: 10px;
        }
        #logo {
            padding-bottom: 20px;
        }
        #name_company {
            font-size: 1.4rem;
            font-family: "roboto";
            font-weight: 700;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: linear-gradient(211deg, #2a3d8f, #16bde3, #16e36f);
            background-size: 600% 600%;
            -webkit-animation: AnimationName 12s ease infinite;
            -moz-animation: AnimationName 12s ease infinite;
            animation: gradient 12s ease infinite;
        }
        img {
            height: 100px;
        }
        #contact_us {
            width: 100%;
            text-align: center;
            padding-top: 15px;
            span {
                margin: auto;
                text-decoration: underline;
            }
            a {
                display: flex;
                margin: auto;
                span {
                    margin-top: 5px;
                    padding: 10px;
                    background: $color-main-orange;
                    color: white;
                    border-radius: 10px;
                    text-decoration: none;
                }
            }
        }
    }
}
#mobile_button {
    display: none;
    position: fixed;
    top: 95%;
    left: 50%;
    z-index: 2;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    button {
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 50%;
        font-size: 1.2rem;
        background-color: #11c857;
        transition: all 0.3s ease;
        color: white;
    }
    button.active {
        background-color: #ff194b;
        height: 50px;
        width: 50px;
        font-size: 2.2rem;
        transform: rotate(135deg);
        border-radius: 15px;
    }
    &.active {
        top: 93%;
    }
}
header {
    padding: 10px 30px;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Russia-bold";
        font-size: 1.2rem;
        img {
            width: 80px;
        }
        #name_company {
            width: 50%;
            a {
                font-size: 1.4rem;
                font-family: "Russia-bold";
                padding: 0;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(211deg, #2a3d8f, #16bde3, #16e36f);
                background-size: 600% 600%;
                -webkit-animation: AnimationName 12s ease infinite;
                -moz-animation: AnimationName 12s ease infinite;
                animation: gradient 12s ease infinite;
            }
        }
        &.btn a {
            padding: 10px;
            border-radius: 8px;
            font-family: "Roboto";
            font-weight: 500;
            color: white;
            background-color: $color-main-orange;
            transition: background-color 0.3s ease;
            &.router-link-active {
                background-color: #13d02f;
            }
        }
    }
    #logo {
        width: 220px;
        justify-content: start;
    }
}

main {
    section {
        .wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        .left,
        .right {
            width: 550px;
            display: flex;
            justify-self: start;
            flex-wrap: wrap;
            .main_right_image {
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
            &>.main_left_text{
                width: 550px;
                display: flex;
                justify-self: start;
                flex-wrap: wrap;
            }
        }
        &#about_us, &#sale{
            background: url("/img/bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &#sale{
            .sale_text{
                padding: 10px 0;
                width: 100%;
                font-family: "Roboto";
                font-weight: 600;
                font-size: 1.1rem;
                &:first-child{
                    padding-top: 0;
                }
                &:last-child{
                    padding-bottom: 0;
                }
                &.info{
                    padding-bottom: 0;
                    color:#2f2f2f;
                    font-weight: normal;
                }
                &.ps{
                    font-weight: 400;
                    color:#888;
                    font-size: .9rem;
                }
            }
        }
        &#callback {
            .wrapper {
                display: block;
            }
        }
        &.main_section {
            .name_section {
                margin-top: 50px;
                text-transform: uppercase;
                font-size: 2.9rem;
                font-family: sans-serif;
                font-weight: 600;
                padding: 0;

                padding: 20px 0;
                span {
                    color: $blue;
                }
            }
        }
        .name_section {
            padding: 10px;
            font-family: "Russia-bold";
            font-size: 2rem;
            &::first-letter {
                text-decoration: underline;
            }
        }

    }
    .btn {
        padding: 20px 0;
        font-size: 1.2rem;
        a {
            background-color: #ff983c;
            color: white;
            padding: 10px;
            font-family: "Russia-bold";
            display: block;
            border-radius: 10px;
        }
    }
    .mini_section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .main_section_about{
        display: grid;
        grid-template-areas: "a a a";
        row-gap:30px;
        .mini_info{
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-top: 0;
            }
        }
    }
    .mini_info {
        width: $mini_section_w+px;
        &:first-child, &:last-child{
            margin-top:20px;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .image_info{
            box-sizing: content-box;
            font-size: 30px;
            width:$mini_section_w_d+px;
            margin-right: 10px;
            color:$blue;
            text-align: center;
            i{
                width: $mini_section_w_d+px;
            }
        }
        .text_info{
            width: $mini_section_w - $mini_section_w_d - 10 + px;
            font-size: 1.1rem;
            font-family: 'Russia';
            &.mini{
                color:gray;
                margin-left: $mini_section_w_d + 10 + px;
                margin-top: 5px;
                font-size: .9rem;
                font-family: 'roboto';
                font-weight: 300;
            }
        }
    }
    #why_me{
        padding-bottom: 70px;
    }
}

footer {
    background-color: #2f303e;
    color: white;
    padding: 10px;
    ul {
        align-items: center;
    }
    #double_text {
        a {
            display: flex;
            padding: 2px 0;
            span {
                font-size: 0.9rem;
            }
        }
    }
}
@-webkit-keyframes gradient {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}
@-moz-keyframes gradient {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}

@media screen and (max-width: 1110px) {
    nav {
        padding: 5px 40px;
    }
    main {
        section {
            .name_section,
            h1 {
                text-align: center;
            }
            .btn {
                width: 100%;
                text-align: center;
                a {
                    padding: 20px 10px;
                }
            }
        }
        .main_section_about{
            grid-template-areas: "a a";
        }
    }
}

@media screen and (max-width: 660px) {
    * {
        ul {
            justify-content: space-around;
            li {
                padding: 5px 30px;
            }
        }
    }
    nav {
        padding: 0;
        text-align: center;
        #double_text {
            a {
                display: block;
            }
        }
    }
    header {
        display: none;
    }
    #mobile_button {
        display: block;
    }
    #modal_cities,
    #modal_mobile_menu {
        .wrapper {
            width: 300px;
            ul {
                li {
                    width: 50%;
                }
            }
        }
    }
    main {
        section {
            &#about_us{
                .mini_section{
                    display: grid;
                    row-gap: 20px;
                    .mini_info{
                        &:last-child{
                            margin-top: 0;
                            margin-bottom: 20px;
                        }
                        width: 100%;
                        .text_info{
                            width: 75%;
                            text-align: center;
                        }
                    }
                }
            }
            .name_section {
                width: 100%;
                text-align: center;
                padding: 30px;
                margin-top: 0 !important;
            }
        }
        .h_text {
            text-align: center;
        }
        .btn {
            width: 100%;
            a {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .main_section {
            .left,
            .right {
                min-width: 300px;
                width: 75%;
                .name_section {
                    font-size: 7vw;
                }
            }
        }
        .mini_info{
            width: 50%;
            padding: 0px 10px;
        }
        .main_section_about{
            .mini_info{
                width: unset;
                text-align: center;
                .text_info{
                    width: 100% - $mini_section_w_d+$mini_section_w_d/2
                }
            }
            grid-template-areas: "a";
            
        }
        
    }
    footer {
        padding: 0;
        ul {
            #double_text {
                a {
                    display: block;
                }
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 440px) {
    nav {
        ul {
            justify-content: center;
            flex-direction: column !important;
        }
    }
    main{
        section{
            .name_section{
                font-size: 1.4rem !important;
                border-bottom: 1px solid $blue;
                margin-bottom: 10px;
            }
            h1{
                font-size: 1.2rem;
            }
            .btn{
                a{
                    padding: 10px;
                }
            }
            &#sale{
                .left{
                    .main_left_text{
                        padding: 10px;
                    }
                }
                .right{
                    .main_right_image{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 75%;
                        }
                    }
                }
            }
        }
        .mini_info{
            width: 100%;
            margin-top: 10px;
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 20px;
            }
            .text_info{
                text-align: center;
            }
        }
    }
}
